body {
    display: flex;
    flex-direction: column;
    margin: auto;
    font-family: 'VT323', monospace;
}

header,
footer {
    width: 100%;
    background-color: #A0C49D;
    display: flex;
    flex-direction: column;
}

section {
    padding: 8%;
}

button {
    font-family: 'Creepster', cursive;
    padding: 0.5em 1em;
    font-size: 1.5em;
    border-radius: 0.7em;
    background-color: #617A55;
    color: white;
    transition: all 0.25s;
}

button:hover {
    background-color: #f1ff5c;
    color: #617A55;
    transform: translateY(-0.24em);
    cursor: pointer;
}

/* Header Bar */

nav {
    display: flex;
    justify-content: space-between;
}

nav ul {
    list-style-type: none;
    display: inline;
}

nav li {
    display: table-cell;
    padding: 0 10px;
}

span.logo {
    white-space: nowrap;
    margin: auto 20px;
    padding: 10px;
    font-size: 40px;
    font-family: 'Creepster', cursive;
}


/* Header Intro Section */

section.intro {
    display: flex;
    justify-content: space-around;
}

section.intro>div {
    width: 400px;
    padding: 1em;
}

section.intro>div>div {
    margin: 1em;
}

div.juiceimg {
    display: flex;
    align-items: center;
}

div.juiceimg>img {
    width: 400px;
    height: 250px;

}


/* Information Section */

section.info {
    display: flex;
    flex-direction: column;
    align-content: center;
}

section.info>h2 {
    text-align: center;
}

div.box {
    display: flex;
    justify-content: center;
}

div.box>div {
    display: inline-block;
    margin: 10px;
    text-align: center;
}

div.box>div>img {
    width: 150px;
    height: 150px;
    border: solid 2px #A0C49D;
    border-radius: 10px;
}

div.box>div>p {
    width: 150px;
}

div.button {
    display: flex;
    justify-content: center;
}


/* Quote Section */


.quote {
    background-color: #F7FFE5;
    font-size: 1.5em;
}

div.quote {
    margin: 5%;
}

p.who {
    font-size: 0.7em;
    text-align: end;
}

/* Promo Section */


div.promobox {
    background-color: #C4D7B2;
    display: flex;
    justify-content: space-around;
    border-radius: 10px;
    height: 150px;
}

div.promotext {
    margin: auto;
}

div.button {
    margin: auto;
}

/* Footer */

footer {
    align-items: center;
}