body {
    display: flex;
    flex-direction: column;
    margin: auto;
    font-family: 'VT323', monospace;
}

header,
footer {
    width: 100%;
    background-color: #A0C49D;
    display: flex;
    flex-direction: column;
}

section {
    padding: 8%;
}

button {
    font-family: 'Creepster', cursive;
    padding: 8px 16px;
    height: 70px;
    font-size: 24px;
    border-radius: 16px;
    background-color: #617A55;
    color: white;
    transition: all 0.25s;
    white-space: nowrap;
}

button:hover {
    background-color: #f1ff5c;
    color: #617A55;
    transform: translateY(-0.24em);
    cursor: pointer;
}

/* Header Bar */

nav {
    display: flex;
    justify-content: space-between;
    background-color: #75ab70;
}

nav ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    align-items: center;
}

nav li {
    display: table-cell;
    padding: 0 10px;
}

span.logo {
    margin: auto 20px;
    padding: 10px;
    font-size: 40px;
    font-family: 'Creepster', cursive;
}


/* Header Intro Section */

section.intro {
    display: flex;
    justify-content: space-around;
}

section.intro>div {
    width: 400px;
    padding: 1em;
}

section.intro>div>div {
    margin: 1em;
}

div.juiceimg {
    display: flex;
    align-items: center;

}

div.juiceimg>img {
    width: 400px;
    height: 250px;
}


/* Information Section */

section.info {
    display: flex;
    flex-direction: column;
    align-content: center;
}

section.info>h2 {
    text-align: center;
}

div.bigbox {
    display: flex;
    justify-content: center;
}

div.middlebox {
    display: flex;
    justify-content: center;
}

div.smallbox {
    display: inline-block;
    margin: 10px;
    text-align: center;
}

div.smallbox>img {
    width: 150px;
    height: 150px;
    border: solid 2px #A0C49D;
    border-radius: 10px;
}

div.smallbox>p {
    width: 150px;
}

div.button {
    display: flex;
    justify-content: center;
}


/* Quote Section */


.quote {
    background-color: #F7FFE5;
    font-size: 1.5em;
}

div.quote {
    margin: 5%;
}

p.who {
    font-size: 0.7em;
    text-align: end;
}

/* Promo Section */


div.promobox {
    background-color: #C4D7B2;
    display: flex;
    justify-content: space-around;
    border-radius: 10px;
    height: 150px;
}

div.promotext {
    margin: 20px;
}

div.button {
    display: flex;
    align-items: center;
    margin: 20px;
}

/* Footer */

footer {
    align-items: center;
}




/* Media Query */

@media (max-width: 680px) {

    nav {
        flex-direction: column;
        align-items: center;
        background-color: #75ab70;
    }

    section.intro {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0;
    }

    section.intro>div>div {
        margin: 1em;
        text-align: center;
    }

    div.bigbox {
        flex-wrap: wrap;
        align-content: center;
    }

    div.promobox {
        text-align: center;
        flex-direction: column;
        justify-content: center;
        height: 220px;
    }

    div.promotext {
        margin: 0 20px;
    }

    div.button {
        display: flex;
        align-items: center;
        margin: 0 20px;
    }


}